<h1>Stupid coach</h1>

<p>What do you want to ask the coach?</p>

<div class="form-group">
<form action="/answer" method="get">
  <input class = "form-control" type="text" name="question" placeholder="What would you like to ask?">
  <button type="button" class="btn btn-primary"> Submit</button>
</form>
</div>

